<template>
  <div>
    <div class="mb-8 flex justify-start max-w-3xl">
      <h1 class="font-bold text-3xl">
        <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('users')">Users</inertia-link>
        <span class="text-indigo-400 font-medium">/</span>
        {{ form.nama }}
      </h1>
      <img v-if="user.photo_url" class="block w-8 h-8 rounded-full ml-4" :src="user.photo_url" />
    </div>
    <trashed-message
      v-if="user.deleted_at"
      class="mb-6"
      @restore="restore"
    >This user has been deleted.</trashed-message>
    <div class="bg-white rounded shadow overflow-hidden max-w-3xl">
      <form @submit.prevent="submit">
        <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
          <text-input
            v-model="form.nama"
            :errors="$page.errors.nama"
            class="pr-6 pb-8 w-full lg:w-1/2"
            label="Nama"
          />
          <text-input
            v-model="form.username"
            :errors="$page.errors.username"
            class="pr-6 pb-8 w-full lg:w-1/2"
            label="Username"
          />
          <text-input
            v-model="form.password"
            :errors="$page.errors.password"
            class="pr-6 pb-8 w-full lg:w-1/2"
            type="password"
            autocomplete="new-password"
            label="Password"
          />
          <file-input
            v-model="form.photo"
            :errors="$page.errors.photo"
            class="pr-6 pb-8 w-full lg:w-1/2"
            type="file"
            accept="image/*"
            label="Photo"
          />
        </div>
        <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
          <button
            v-if="!user.deleted_at"
            class="text-red-600 hover:underline"
            tabindex="-1"
            type="button"
            @click="destroy"
          >Delete User</button>
          <loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">Update User</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from "@/Shared/Layout";
import LoadingButton from "@/Shared/LoadingButton";
import SelectInput from "@/Shared/SelectInput";
import TextInput from "@/Shared/TextInput";
import FileInput from "@/Shared/FileInput";
import TrashedMessage from "@/Shared/TrashedMessage";

export default {
  metaInfo() {
    return {
      title: `${this.form.nama} ${this.form.username}`
    };
  },
  layout: Layout,
  components: {
    LoadingButton,
    SelectInput,
    TextInput,
    FileInput,
    TrashedMessage
  },
  props: {
    user: Object
  },
  remember: "form",
  data() {
    return {
      sending: false,
      form: {
        nama: this.user.nama,
        username: this.user.username,
        password: this.user.password,
        photo: null
      }
    };
  },
  methods: {
    submit() {
      this.sending = true;

      var data = new FormData();
      data.append("nama", this.form.nama || "");
      data.append("username", this.form.username || "");
      data.append("password", this.form.password || "");
      data.append('photo', this.form.photo || '');
      data.append("_method", "put");

      this.$inertia
        .post(this.route("users.update", this.user.id), data)
        .then(() => {
          this.sending = false;
          if (Object.keys(this.$page.errors).length === 0) {
            this.form.photo = null;
            this.form.password = null;
          }
        });
    },
    destroy() {
      this.confirm().then(result => {
        if(result.value){
          this.$inertia.delete(this.route("users.destroy", this.user.id))
        }
      })
    },
    restore() {
      if (confirm("Are you sure you want to restore this user?")) {
        this.$inertia.put(this.route("users.restore", this.user.id));
      }
    },
    confirm() {
      return this.$swal({
        title: 'Anda yakin?',
        text: 'Anda yakin akan menghapus user ini?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Hapus!',
        cancelButtonText: 'Batal'
      });
    }
  }
};
</script>
