<template>
  <div>
    <portal-target name="dropdown" slim />
    <div class="flex flex-col">
      <div class="h-screen flex flex-col" @click="hideDropdownMenus">
        <div class="md:flex flex-shrink-0 bg-indigo-900">
          <div class="md:flex-shrink-0 md:w-300 px-3 py-2 flex items-center justify-between md:justify-center">
            <inertia-link href="/">
              <!-- <img class="mx-auto w-full" src="/images/logo.png" alt="Logo Tepra" /> -->
            </inertia-link>
            <dropdown class="md:hidden" placement="bottom-end">
              <svg class="fill-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
              <div slot="dropdown" class="mt-2 px-8 py-4 shadow-lg bg-indigo-800 rounded">
                <main-menu :url="url()" />
              </div>
            </dropdown>
          </div>
          <div class="w-full p-4 md:py-0 md:px-12 text-sm md:text-md flex justify-between items-center">
            <div class="mt-1 mr-4 hidden md:flex flex-1 flex justify-center">
              <inertia-link :href="route('dashboard')"
                :class="`px-3 py-2 rounded-md text-sm font-medium ${isUrl('') ? 'text-white bg-gray-700' : 'text-gray-300 hover:text-white hover:bg-gray-500'} focus:outline-none focus:text-white focus:bg-gray-700`">
                <HomeIcon class="inline mr-2 -mt-1" size="1.3x" /> Dashboard
              </inertia-link>
            </div>
            <dropdown placement="bottom-end">
              <div class="flex items-center cursor-pointer select-none group px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-500 focus:outline-none focus:bg-gray-500">
                <div class="mr-1 whitespace-no-wrap">
                  <UserIcon class="inline mr-2 -mt-1" size="1.3x" />
                  <span class="hidden md:inline">{{ $page.auth.user.nama }}</span>
                </div>
                <icon class="w-5 h-5 fill-gray-300" name="cheveron-down" />
              </div>
              <div slot="dropdown" class="mt-2 py-2 shadow-xl bg-white rounded text-sm">
                <inertia-link class="block px-6 py-2 hover:bg-indigo-800 hover:text-white" :href="route('users.edit', $page.auth.user.id)">My Profile</inertia-link>
                <inertia-link class="block px-6 py-2 hover:bg-indigo-800 hover:text-white" :href="route('users')">Manage Users</inertia-link>
                <inertia-link class="block px-6 py-2 hover:bg-indigo-800 hover:text-white" :href="route('logout')" method="post">Logout</inertia-link>
              </div>
            </dropdown>
          </div>
        </div>
        <div class="flex flex-grow overflow-hidden">
          <div class="flex-1 px-4 py-8 md:p-12 overflow-y-auto" scroll-region>
            <flash-messages />
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from '@/Shared/Dropdown'
import FlashMessages from '@/Shared/FlashMessages'
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import MainMenu from '@/Shared/MainMenu'

import {HomeIcon, FileTextIcon, SettingsIcon, UserIcon} from 'vue-feather-icons'

export default {
  components: {
    Dropdown,
    FlashMessages,
    Icon,
    Logo,
    MainMenu,
    HomeIcon,
    FileTextIcon,
    SettingsIcon,
    UserIcon
  },
  data() {
    return {
      showUserMenu: false,
      accounts: null,
    }
  },
  computed: {
    
  },
  methods: {
    url(){
      return location.pathname.substr(1)
    },
    isUrl(...urls) {
      if (urls[0] === '') {
        return this.url() === ''
      }

      return urls.filter(url => this.url().startsWith(url)).length
    },
    hideDropdownMenus() {
      this.showUserMenu = false
    },
  },
}
</script>
