<template>
  <div>
    <div
      class="min-h-screen flex flex-col items-center justify-center bg-gray-50 bg-cover py-12 px-4 sm:px-6 lg:px-8"
      style="background-image: red;"
    >
      <div class="max-w-xs w-full shadow-lg bg-white sm:rounded-lg overflow-hidden">
        <div class="bg-gray-800 py-5">
          <!-- <img class="mx-auto w-10/12" src="/images/logo.png" alt="Logo Tepra" /> -->
        </div>
        <div v-if="$page.errors.username">
          <div class="p-5" v-if="$page.errors.username.length">
            <div
              class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <strong class="font-bold">Error!</strong>
              <span class="block sm:inline">{{ $page.errors.username[0] }}</span>
            </div>
          </div>
        </div>
        <form class="p-5" action="#" method="POST">
          <input type="hidden" name="remember" value="true" />
          <div class="rounded shadow-sm">
            <div>
              <input
                aria-label="Username"
                v-model="form.username"
                name="username"
                type="text"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                placeholder="Username"
              />
            </div>
            <div class="-mt-px">
              <input
                aria-label="Password"
                v-model="form.password"
                name="password"
                type="password"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="mt-6 flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember_me"
                type="checkbox"
                v-model="form.remember"
                class="form-checkbox h-4 w-4 text-gray-600 transition duration-150 ease-in-out"
              />
              <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">Ingat Saya</label>
            </div>

            <div class="text-sm leading-5">
              <a
                href="#"
                class="font-medium text-gray-600 hover:text-gray-500 focus:outline-none focus:underline transition ease-in-out duration-150"
              >Lupa Password?</a>
            </div>
          </div>

          <div class="mt-6">
            <LoadingButton :loading="sending" class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded shadow-sm text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" @click.native="submit" type="button">
              <LogInIcon class="absolute left-0 ml-3"  size="1.2x" />
              <span>Sign in</span>
            </LoadingButton>
          </div>
          <div class="mt-1">
            <a
              href
              wire:click="submit"
              wire:loading.attr="disabled"
              class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded shadow-sm text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
            >
              <HomeIcon class="absolute left-0 ml-3"  size="1.2x" />
              <span wire:loading.remove>Dashboard</span>
              &nbsp;
            </a>
          </div>
          <div class="mt-1">
            <button
              type="button"
              wire:click="submit"
              wire:loading.attr="disabled"
              class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded shadow-sm text-white bg-orange-600 hover:bg-orange-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
            >
              <DownloadIcon class="absolute left-0 ml-3"  size="1.2x" />
              <span wire:loading.remove>Download</span>
              &nbsp;
            </button>
          </div>
        </form>

        <div class="text-center text-xs mb-5 capitalize">
          <span class="text-gray-400">&copy; a blank project</span>
          <br />
          <a
            href="//www.deka.co.id"
            class="text-gray-500 hover:text-gray-600 hover:underline"
            target="_blank"
          >DEKA Web &amp; IT Solutions</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingButton from "@/Shared/LoadingButton";
import Logo from "@/Shared/Logo";
import TextInput from "@/Shared/TextInput";

import {LogInIcon, HomeIcon, DownloadIcon} from 'vue-feather-icons'

export default {
  metaInfo: { title: "Login" },
  components: {
    LoadingButton,
    Logo,
    TextInput,
    LogInIcon,
    HomeIcon,
    DownloadIcon
  },
  props: {
    errors: Object
  },
  data: () => ({
    sending: false,
    form: {
      username: "super",
      password: "admin2020",
      remember: null
    }
  }),
  compunted: {},
  methods: {
    submit() {
      this.sending = true;
      this.$inertia
        .post(this.route("login.attempt"), {
          username: this.form.username,
          password: this.form.password,
          remember: this.form.remember
        })
        .then(() => (this.sending = false));
    }
  }
};
</script>
